@charset "utf-8";
/* CSS Document */

/*右边栏*/
.rSidebarItem .rsItemName i,.rSidebarItem .rsItemName u,.rsCartClose,.sidebarClose,.ope-icon i,.comAmount a,.rsCartItem .rsCartCom-del{ background:url(../images/public-24.png) no-repeat;}
.rightSidebarBox{ width:35px; height:100%; position:fixed; top:0; right:0; z-index:300; background:#333; _position:absolute; _top:expression(eval(document.documentElement.scrollTop)); }
.rightSidebar{ width:35px;}
.rightSidebarCon{ width:35px; position:absolute; top:20%; left:0; z-index:311; text-align:center;}
.rSidebarItem{ width:35px; margin:0 0 15px; position:relative;}
.rSidebarItem .rsItemName{ width:35px; padding:10px 0; position:relative; z-index:350; cursor:pointer; background:#333;}
.rSidebarItem.on .rsItemName{ background:#fff;}
.rSidebarItem .rsItemName i{ display:inline-block; width:19px; height:19px;}
.rSidebarItem .rsItemName em{position:absolute; width:14px; height:14px; line-height:14px; text-align:center; background:#cc0000; border-radius:7px; color:#fff; font-family:"宋体"; top:4px; right:3px; font-style:normal; overflow:hidden;}
.rSidebarItem .rsItemName .user-i{ background-position:0 -164px;}
.rSidebarItem .rsItemName .collect-i{ background-position:-46px -164px;}
.rSidebarItem .rsItemName .cart-i{ background-position:-70px -164px;}
.rSidebarItem.on .rsItemName .user-i{ background-position:-92px -164px;}
.rSidebarItem.on .rsItemName .collect-i{ background-position:-138px -164px;}
.rSidebarItem.on .rsItemName .cart-i{ background-position:-162px -164px;}
.rSidebarItem .rsItemName span{ display:block; font-family:"微软雅黑"; line-height:16px; color:#f3f3f3; padding:2px 0 0;}
.rSidebarItem.on .rsItemName span{ color:#333;}
.rSidebarItem .rsItemName .cart-n{ width:14px; font-size:14px; margin:0 10px 0 11px; padding:6px 0 4px;}
.rSidebarItem .rsItemName b{ color:#cc0000;}
.rSidebarItem .rsItemName .rsItemPointer{ display:none; width:6px; height:11px; position:absolute; left:0; top:30px; background-position:-178px -73px;}
.rightSidebarBot{ width:35px; position:absolute; bottom:30px; right:0; text-align:center;}
.rightSidebarBot .rSidebarItem{ margin:0; position:relative;}
.rightSidebarBot .rSidebarItem .rsItemName{ padding:8px 0;}
.rSidebarItem .rsItemName .feedback-i{ background-position:2px -190px}
.rSidebarItem .rsItemName .code-i{ background-position:-21px -189px;}
.rSidebarItem .rsItemName .backTop-i{ background-position:-42px -190px;}
.rSidebarItem.on .rsItemName .feedback-i{ background-position:-72px -262px}
.rSidebarItem.on .rsItemName .code-i{ background-position:-95px -262px;}
.rSidebarItem.on .rsItemName .backTop-i{ background-position:-117px -262px;}
.rSidebarItem .rsItemCon{ display:none; background:#fff; box-shadow:0 0 6px rgba(0, 0, 0, 0.2); position:absolute; top:0; right:35px; z-index:320;}
.rSidebarItem .rsItemLink{ display:inline-block; color:#666;}
.rSidebarItem .rsItemLink:hover{ text-decoration:none;}

.rSidebarItem .rsItemName .pro-i{ width:34px; height:34px; background:url(../images/pro-i.jpg) no-repeat top center;}
/*用户信息弹层*/
.sidebarUser{ width:270px; font-family:"微软雅黑";}
.sidebarClose{ display:block; width:11px; height:11px; background-position:-157px 0; position:absolute; right:15px; top:12px; cursor:pointer;}
.sidebarUserPho{ width:270px; padding:18px 0 16px;}
.sidebarUserPho .sidUser-pho{ display:inline; width:80px; height:80px; position:relative; float:left; margin-left:32px;}
.sidebarUserPho .sidUser-pho span{ display:inline-block; width:80px; height:80px; background:url(../images/mask.png) no-repeat center center; position:absolute; left:0; top:0; z-index:330;}
.sidebarUserPho .sidUser-pho img{ position:absolute; left:0; top:0; z-index:320;}
.sidebarUserPho .sidUser-name{ padding-left:12px; text-align:left; float:left;}
.sidebarUserPho .sidUser-name p{ line-height:24px;}
.sidebarUserPho .suLogin{ padding-top:15px; display:none;}
.sidebarUserPho .suLoginNot{ padding-top:26px;}
.sidebarUserPho .suLoginNot a{ color:#cc0000; padding-left:5px;}
.sidebarUserPho .sidUser-name em{ font-style:normal; color:#cc0000;}
.sidebarUserPho .sidUser-name i{ display:inline-block; height: 21px; margin-right:5px; vertical-align: middle; width: 22px; background:url(../images/memberLevel-24.png) no-repeat;}
.sidebarUserPho .sidUser-name i.level1{ background-position:0 0;}
.sidebarUserPho .sidUser-name i.level2{ background-position:-24px 0;}
.sidebarUserPho .sidUser-name i.level3{ background-position:-49px 0;}
.sidebarUserPho .sidUser-name i.level4{ background-position:-73px 0;}
.sidebarUserPho .sidUser-name i.level5{ background-position:-97px 0;}
.sidebarUserOpe{ background:#f9f9f9; border-top:1px solid #e5e5e5; padding-bottom:5px;}
.sidebarUserOpe .userOpe{ margin:0 15px;}
.sidebarUserOpe .userOpe.frist{ border-bottom:1px dotted #ccc;}
.sidebarUserOpe .ope-con{ width:50%; float:left; padding:16px 0 10px; position:relative; cursor:pointer;}
.sidebarUserOpe .ope-con p{ text-align:center;}
.sidebarUserOpe .ope-con .ope-icon i{ display:inline-block; width:26px; height:26px; position:relative;}
.sidebarUserOpe .opeOrder .ope-icon i{ background-position:-64px -190px;}
.sidebarUserOpe .opeNews .ope-icon i{ background-position:-96px -186px;}
.sidebarUserOpe .opeTrack .ope-icon i{ background-position:-158px -185px;}
.sidebarUserOpe .opeMember .ope-icon i{ background-position:-158px -220px;}
.sidebarUserOpe .ope-con .ope-icon em{ display:none; width:14px; height:14px; line-height:14px; text-align:center; background:#cc0000; border-radius:7px; color:#fff; font-family:"宋体"; position:absolute; top:-4px; right:-8px; font-style:normal; overflow:hidden;}
.sidebarUserOpe .ope-con .ope-name{ line-height:18px; padding-top:10px;}
/*提示登录框*/
.sidebarUserLogin{ width:270px; height:112px; font-family:"微软雅黑"; background:#fff; box-shadow:0 0 6px rgba(0, 0, 0, 0.2); position:absolute; top:0; right:35px; z-index:300; overflow:hidden; display:none;}
/*购物车弹层*/
.rsCartBox{ display:none; width:270px; height:100%; background:#fff; border-left:1px solid #ddd; box-shadow:0 0 6px rgba(0, 0, 0, 0.2); position:absolute; top:0; right:35px; z-index:310;}
.rsCartClose{ display:block; width:12px; height:12px; background-position:-172px 0; position:absolute; right:15px; top:21px; cursor:pointer; z-index:313;}
.rsCartTit{ height:52px; line-height:52px; padding:0 15px; border-bottom:1px solid #ededed; background:#f9f9f9; position:relative; z-index:312;}
.rsCartTit h3{ font-size:18px; font-weight:normal; font-family:"微软雅黑"; }
.rsCartCon .rsCartTabBox{ overflow-x:hidden; overflow-y:auto; position:relative; z-index:311;}
.rsCartTabBox .rsCartTable{ width:92%; margin:0 auto;}
.rsCartTable .rsCartItem{ text-align:center; border-top:1px dotted #ddd; position:relative;}
.rsCartTable .rsCartItem.first{ border-top:none;}
.rsCartItem .cartItemInfo{height:72px; float:left;}
.rsCartItem .info01{ width:61%;}
.rsCartItem .info02{ width:14%; font-family:"微软雅黑";}
.rsCartItem .info03{ width:25%; line-height:72px; color:#cc0000; font-size:14px; font-family:"微软雅黑";}
.rsCartItem .info01 .rsCartCom{ text-align:left; margin:10px 0;}
.rsCartCom .rsCartCom-pic{ width:52px; height:52px; float:left; border:1px solid #ccc;}
.rsCartCom .rsCartCom-name{ height:36px; padding:9px 0 9px 8px; display:inline; float:left;}
.rsCartCom .rsCartCom-name p{ width:78px; height:36px; line-height:18px; overflow:hidden; text-overflow:ellipsis;}

.rsCartItem .info02 .comAmount{ width:30px; height:15px; margin-top:28px; position:relative; }
.comAmount a{ width:15px; height:15px; position:absolute; top:0; cursor:pointer; overflow:hidden; display:none;}
.comAmount .minus{ background-position:-167px -106px; left:-10px;}
.comAmount .minus.on{ background-position:-125px -106px;}
.comAmount .plus{ background-position:-146px -106px; right:-10px;}
.comAmount .plus.on{ background-position:-104px -106px;}
.comAmount span{ display:inline-block; width:30px; height:15px; line-height:15px; text-align:center;}

.rsCartItem .rsCartCom-del{ width:16px; height:16px; position:absolute; top:8px; right:0; background-position:-130px -192px; cursor:pointer; display:none;}

.rsCartTotal{ height:50px; line-height:50px; padding:0 15px 0 10px; background:#f9f9f9; position:relative; z-index:312; border-top:1px dotted #ddd;}
.rsCartTotal .amountAll{ float:left;}
.rsCartTotal .amountAll b{ color:#cc0000; padding-right:5px;}
.rsCartTotal .priAll{ float:right; font-size:16px; color:#cc0000; font-family:"微软雅黑";}

.rsCartBut{ height:34px; padding:15px 0 50px; background:#f9f9f9; position:relative; z-index:312;}
.rsCartBut .rsCartBut-bay{ display:block; margin:0 auto; width:166px; height:34px; line-height:34px; font-size:16px; color:#fff; font-family:"微软雅黑"; text-align:center; background:#cf171f; border-radius:3px;}
.rsCartBut .rsCartBut-bay:hover{ text-decoration:none; color:#fff;}
.rsCartBut .rsCartBut-bay.not{ background:#ccc; cursor:default;}
/*购物车为空*/
#rsCartEmpty{ display:none;}
#rsCartEmpty .cartEmpty{ padding-top:40px;}
.cartEmpty p{ text-align:center;}
.cartEmpty .emptyPho{ height:110px;}
.cartEmpty .emptyPho i{ display:inline-block; width:104px; height:110px; background:url(../images/cartEmptyPho.jpg) no-repeat center center;}
.cartEmpty .emptyText{ line-height:24px; font-family:"微软雅黑"; color:#999; padding-top:8px;}
/*收藏弹层*/
.collectBox{ width:88px; height:43px; line-height:21px; padding:7px 0; font-family:"微软雅黑";}
.collectBox b{ color:#cc0000; font-weight:normal;}
/*用户反馈弹层*/
.feedbackBox{ width:88px; height:35px; line-height:35px; background:#fff; font-family:"微软雅黑";}
/*二维码弹层*/
.codeBox{ width:80px; height:80px; padding:4px;}
/*右边栏end*/