/* CSS Document */
HTML{FONT-FAMILY:Arial, Helvetica, sans-serif,"宋体"; text-align:left;word-break:break-all;text-overflow:ellipsis; }
body{FONT-SIZE:12px; COLOR:#666;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{padding:0; margin:0;}
ul,li{list-style:none;margin:0px;padding:0px}
form{ padding:0px; margin:0px}
td{FONT-SIZE:12px}
img{border:0px}
a{ COLOR:#666;TEXT-DECORATION:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#cc0001; text-decoration:underline;}
input, select { vertical-align: middle;}

.clear{clear:both; font-size:0; line-height:0; height:0;}
.clearfix:after{clear:both;display:block;content:"...";visibility:hidden;height:0;font-size:0;}
.clearfix{*zoom:1;}

/*toast和alert*/
.toast-msg{position:fixed; text-align:center; font-size:14px; color:#fff; background:rgba(0,0,0,0.7); border-radius:5px; line-height:20px; padding:20px; width:200px; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); z-index:100;}
.pop-mask{position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:99;}
.dialog-box{position:fixed; top:50%; left:50%; margin:-90px 0 0 -220px; width:380px; height:120px; padding:30px; background:#fff; z-index:100; display:none;}
.dialog-box .close-dialog{position:absolute; top:10px; right:10px; width:20px; height:20px; cursor:pointer;}
.dialog-box .title { font-size:18px; font-weight:700; text-align:center; line-height:26px; margin:20px 0 30px;}
.dialog-box .dialog-btn {text-align:center;}
.dialog-box .dialog-btn span {display:inline-block; width:110px; line-height:36px;border-radius:20px; background:#fbb714; color:#fff; font-size:14px;cursor:pointer;}
.dialog-box .dialog-btn .cancel-btn {  margin:0 60px 0 0;}
