
* {margin: 0;padding: 0;border: 0;outline: 0; font-weight:normal; font-style:normal;}
select,option { word-wrap:normal; }
select { font-size:16px; font-family:'Microsoft YaHei',Verdana,Arial,Helvetica,sans-serif; }
input,textarea { -webkit-appearance: none; }
img { border:0; vertical-align:auto; }
ul, li, ol, dl, dt, dd{ list-style:none; }
br { height:0; line-height:0; font-size:0; overflow:hidden; vertical-align:top; }
body { margin:0; padding:0; font-family:'Microsoft YaHei',Verdana,Arial,Helvetica,sans-serif; color:#232326; font-size:12px; line-height:1.2; background-color:#f7f8fa;
word-wrap:break-word; -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-touch-callout: none;  -webkit-user-drag:none;  -webkit-user-select:none; }
a { text-decoration:none; -webkit-touch-callout: none; -webkit-user-drag:none;  -webkit-user-select:none; color:#555; }
button { outline-style: none;}


/*清浮动*/
.clear{clear:both; font-size:0; line-height:0; height:0;}
.clearfix:after{clear:both;display:block;content:"...";visibility:hidden;height:0;font-size:0;}
.clearfix{*zoom:1;}

/*toast和alert*/
.toast-msg{position:fixed; text-align:center; font-size:14px; color:#fff; background:rgba(0,0,0,0.7); border-radius:5px; line-height:20px; padding:20px; width:200px; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); z-index:100;}
.pop-mask{position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:99;}
.dialog-box{position:fixed; top:50%; left:50%; margin:-90px 0 0 -220px; width:380px; height:120px; padding:30px; background:#fff; z-index:100; display:none;}
.dialog-box .close-dialog{position:absolute; top:10px; right:10px; width:20px; height:20px; cursor:pointer;}
.dialog-box .title { font-size:18px; font-weight:700; text-align:center; line-height:26px; margin:20px 0 30px;}
.dialog-box .dialog-btn {text-align:center;}
.dialog-box .dialog-btn span {display:inline-block; width:110px; line-height:36px;border-radius:20px; background:#fbb714; color:#fff; font-size:14px;cursor:pointer;}
.dialog-box .dialog-btn .cancel-btn {  margin:0 60px 0 0;}

/*retina 1像素 start*/
 /*
   border-r（右）,border-l（左）,border-t（上）,border-b（下）加入到需要添加border的元素内即可
   默认颜色#cbcbcb
 */
.border-r,.border-l,.border-t,.border-b{position:relative}
.border-r::after{height:100%;content:'';width:1px;border-right:1px solid #e3e5e9;position:absolute;top:0;right:0;transform:scaleX(0.5);-webkit-transform:scaleX(0.5);z-index:1}
.border-l::before{height:100%;content:'';width:1px;border-left:1px solid #e3e5e9;position:absolute;top:0;left:0;transform:scaleX(0.5);-webkit-transform:scaleX(0.5);z-index:1}
.border-t::after{height:1px;content:'';width:100%;border-top:1px solid #e3e5e9;position:absolute;top:0;right:0;transform:scaleY(0.5);-webkit-transform:scaleY(0.5);z-index:1}
.border-b::before{height:1px;content:'';width:100%;border-bottom:1px solid #e3e5e9;position:absolute;bottom:0;right:0;transform:scaleY(0.5);-webkit-transform:scaleY(0.5);z-index:1}
/*retina 1像素 end*/
