@charset "utf-8";
/* CSS Document */

/*导航*/
.navList li .channel i,.categoryBox li h3 i,.menuCon-filter ul li a i,.navList li .hot,.navList li .new{ background:url(../images/public-24.png) no-repeat;}

.navWrap{ width:100%; height:34px; background:#990000;}
.navWrap .nav{ width:1000px; height:34px; margin:0 auto;}
.nav .navList{ height:34px; float:left;}
.navList li{ width:95px; height:34px; line-height:34px; text-align:center; float:left; position:relative; z-index:203;}
.navList li.on{ background:#b40c10;}
.navList li a.channel{ display:inline-block; width:95px; height:34px; color:#fff; font-size:14px; font-family:"微软雅黑"; background:url(../images/navLine.png) no-repeat left center;}
.navList li a.channel:hover{ color:#fff; text-decoration:none; background:#b40c10;}
.navList li.home .channel{ background:none;}
.navList li .hot{background-position:0 -264px; display: block; font-size: 0; height: 17px; line-height: 0; position: absolute; right:6px; top: -6px; width: 29px; z-index:203;}
.navList li .new{background-position:-36px -264px; display: block; font-size: 0; height: 17px; line-height: 0; position: absolute; right:6px; top: -6px; width: 29px; z-index:203;}
.navList li .quickSelectTit .channel em{ float:left; padding-left:13px; font-style:normal;}
.navList li .quickSelectTit .channel i{ display:inline-block; width:9px; height:8px; line-height:8px; background-position:-175px -87px; margin:13px 0 13px 5px; transition: all 0.4s ease-in-out 0s; overflow:hidden; float:left;}
.navList li:hover .quickSelectTit .channel i{ background-position:-175px -87px; transform: rotate(180deg);}
.navList li .quickSelect{ width:95px; background:#000; position:absolute; top:34px; left:0px; background:url(../images/maskBg.png) repeat left top; display:none;}
.navList li .quickSelect a{ display:block; height:28px; line-height:28px; text-align:center; color:#fff; font-family:"微软雅黑"; overflow:hidden;}
.navList li .quickSelect a:hover{ color:#fff; text-decoration:none; background:#990000;}
/*分类*/
.navCategoryMenu{ width:190px; height:34px; float:left; position:relative; z-index:9999;}
.navCategoryMenu h2{ width:190px; height:34px; line-height:34px; background:#ce171f; text-align:center; cursor:pointer; font-family:"微软雅黑"; font-size:14px; font-weight:normal; color:#fff; font-weight:600;}
.categoryBox{ width:190px; height:470px; font-family:"微软雅黑"; position:absolute; top:34px; left:0; z-index:202;}
.categoryBox li{ width:190px; height:98px; background:#26252c; border-top:1px solid #2c2c2e; border-bottom:1px solid #2c2c2e;}
.categoryBox li .catItemCon{ width:160px; height:98px; padding:0 10px 0 15px; border-left:5px solid #26252c;}

.categoryBox li.bg{ background:#2f2f33; border-top:1px solid #131214; border-bottom:1px solid #131214;}
.categoryBox li.bg .catItemCon{ border-left:5px solid #2f2f33;}
.categoryBox li.first{ border-top:none;}
.categoryBox li.last{ height:70px; border-bottom:none;}
.categoryBox li.last .catItemCon{ height:70px;}

.categoryBox li.on{ background:#f5f5f5;}
.categoryBox li.on .catItemCon{ border-left:5px solid #ce171f;}

.categoryBox li h3{ line-height:32px; height:32px; font-size:14px; overflow:hidden; font-weight:normal; padding-top:5px; color:#fff;}
.categoryBox li.on h3{ color:#333;}
.categoryBox li h3 i{ display:inline-block; width:14px; height:20px; margin-right:10px; vertical-align:middle; position:relative; top:-1px;}
.categoryBox li h3 i.liquor{ background-position:2px -72px;}
.categoryBox li h3 i.wine{ background-position:-16px -74px;}
.categoryBox li h3 i.yang{ background-position:-37px -72px;}
.categoryBox li h3 i.health{ background-position:-59px -72px;}
.categoryBox li h3 i.wineTools{ background-position:-79px -72px;}
.categoryBox li.on h3 i.liquor{ background-position:2px -100px;}
.categoryBox li.on h3 i.wine{ background-position:-16px -102px;}
.categoryBox li.on h3 i.yang{ background-position:-37px -100px;}
.categoryBox li.on h3 i.health{ background-position:-59px -100px;}
.categoryBox li.on h3 i.wineTools{ background-position:-79px -100px;}
.categoryBox li h3 a,.categoryBox li h3 a:hover{ color:#fff;}
.categoryBox li.on h3 a,.categoryBox li.on h3 a:hover{ color:#333;}

.categoryBox li .categoryCon{ width:160px;}
.categoryBox li .categoryCon p{ width:160px; height:16px; overflow:hidden; white-space:nowrap; padding:4px 0;}
.categoryBox li .categoryCon p a{ display:inline-block; height:16px; line-height:16px; padding:0 4px; color:#ccc;}
.categoryBox li .categoryCon p a:hover{ color:#bbb; text-decoration:none;}
.categoryBox li.on .categoryCon p a{ color:#666;}
.categoryBox li.on .categoryCon p a:hover{ color:#333; text-decoration:none;}
.categoryBox li .categoryCon p a.hot{ background:#cc0001; color:#fff; border-radius:3px; line-height:15px;}
.categoryBox li .categoryCon p a.hot:hover{ color:#fff;}
/*弹出菜单*/
.menuBox{ width:615px; height:470px; position:absolute; left:190px; top:34px; z-index:201; box-shadow:0 0 4px 0 #ccc;}
.menuBox .menuCon{ width:400px; height:470px; float:left; display:inline-block; background:#f5f5f5; overflow:hidden; }
.menuItem .menuItemTitle{ width:60px; float:left; padding:10px 10px 10px 20px; line-height:22px; text-align:right; border-top:1px solid #f5f5f5;}
.menuItem.first .menuItemTitle{border-top:none; padding:15px 10px 10px 14px;}
.menuItem .menuItemTitle h4{ font-size:12px; color:#333; font-weight:normal; font-family:"微软雅黑"; overflow:hidden; white-space:nowrap;}
.menuItem .menuItemCon{ float:left; background:#fff;}
.menuItem .menuItemCon .menuCon-list{width:280px; margin:0 15px 0 15px; padding:10px 0 10px; overflow:hidden; border-top:1px dotted #ccc;}
.menuItem.first .menuItemCon .menuCon-list{ border-top:none; padding:15px 0 10px;}
.menuHeight .menuItemTitle{ width:90px; float:left; height:1px; line-height:1px;}
.menuHeight .menuItemCon{ float:left; background:#fff;}
.menuHeight .menuItemCon .menuCon-list{width:280px; height:0px; margin:0 15px 0 15px; }
.menuCon-list p{ margin:0 0 0 -1px; line-height:22px; overflow:hidden;}
.menuCon-list p a{ display:inline-block; float:left; white-space:nowrap; padding:0 8px; background:url(../images/menuLine.jpg) no-repeat scroll left center;}
.menuCon-list p a.hot{ color:#ff6600;}
.menuCon-list p a:hover{ text-decoration:none;}
.menuCon-list p a.more{ color:#ff6600; font-family:"宋体";}
.menuCon-list p.menuCon-brand a{ width:71px; padding:0; margin:0 8px; background:none; overflow:hidden;}

.menuFoc{ width:215px; height:470px; float:left; position:relative; z-index:201;}
.menuFoc a{ display:block; width:220px; height:470px; position:absolute; top:0; right:-5px;}

/*无广告位*/
.menuBox.notFoc .menuCon{ width:615px; }
.menuBox.notFoc .menuItem .menuCon-list{ width:495px;}
.menuBox.notFoc .menuFoc{ display:none;}
.menuBox.notFoc .menuHeight .menuCon-list{ width:495px; margin:0 15px 0 15px; }
/*无广告位 且白酒频道*/
.menuBox.menuLiquor .menuItem .menuItemTitle{ width:36px; padding:10px 10px 10px 14px;}
.menuBox.menuLiquor .menuItem.first .menuItemTitle{ padding:15px 10px 10px 14px;}
.menuBox.menuLiquor .menuHeight .menuItemTitle{ width:60px;}
.menuBox.notFoc.menuLiquor .menuItem .menuCon-list{ width:525px;}
.menuBox.notFoc.menuLiquor .menuHeight .menuCon-list{ width:525px; margin:0 15px 0 15px; }

.menuCon-filter{ width:525px; height:18px; padding:5px 0 12px; overflow:hidden;}
.menuCon-filter ul{width:535px;}
.menuCon-filter ul li{ float:left;}
.menuCon-filter ul li a{ display:inline-block; padding:0 5px; height:18px; line-height:18px; position:relative; z-index:202;}
.menuCon-filter ul li a:hover{ color:#cc0001; text-decoration:none;}
.menuCon-filter ul li.boutique a{ padding:0 4px; margin-right:2px;}
.menuCon-filter ul li.on a{ color:#fff; background:#cc0001;}
.menuCon-filter ul li.on a:hover{ color:#fff; text-decoration:none;}
.menuCon-filter ul li a i{width:11px; height:5px; position:absolute; bottom:-4px; left:3px; background-position:-114px 0; display:none; overflow:hidden;}
.menuCon-filter ul li.boutique a i{ left:24px;}
.menuCon-filter ul li.on a i{ display:inline-block;}
/*导航end*/
