@charset "utf-8";
/* CSS Document */

/*首页icon*/
.noticeList li i,.noticeList li span,.recommentInfo li span,.arrow,.buyBox li .timeRemain i,.contentFirstLeft .timeLim i,.reflash i,.my_Attention,.floorTitle i,.recommentInfo i,.wineFriendsBox .friendsBoxTitle i,.numBuy i,.fixDiv .floorBack i,.fixDiv .floorBg i{background:url(../images/home_icon.png) no-repeat;}
/*首页icon*/
.homeMainbody{width:100%; min-width:1000px;}
/*banner*/
.mainBanner{width:100%;position:relative;height:470px;}
.mainBanner .bigImg{position:relative; height:470px;}
.mainBanner .bigImg li{ position:absolute; width:100%;height:470px;overflow:hidden;}

.mainBanner .bigImg li .ban_cter { position:relative; width: 1200px;height: 470px; margin: 0 auto;}
.mainBanner .bigImg li .ban_cter .imgBox{position:relative; width:820px; height:470px; margin:0 auto; }
.mainBanner .bigImg li .ban_cter .imgBox .imgText{position:absolute; top:0; right:0; }
.mainBanner .bigImg li .focusArea{display:block;height:470px;} 
.mainBanner .bigImg li .focusArea .imgAnimate{transform:scale(1.1); -webkit-transform:scale(1.1);}
.mainBanner .bigImg li.on .focusArea .imgAnimate{transform:scale(1); -webkit-transform:scale(1); transition:transform 5s linear; -webkit-transition:transform 5s linear;}
.mainBanner .smallBtn { height: 20px; left: 0; position: absolute;top: 435px; width: 100%; z-index:9998;}
.mainBanner .smallBtn .smallUl { text-align:center;}
.mainBanner .smallBtn .smallUl li { background:#000; border-radius: 50%; color: #fff; cursor: pointer; display:inline-block;font-size: 12px; height: 20px; line-height: 20px; margin-right: 8px; opacity: 0.8; filter:alpha(opacity=80); width: 20px; text-align:center; overflow:hidden;*display:inline;zoom:1; z-index:1;}
.mainBanner .smallBtn .smallUl li.on { background:#dd102e;}
.arrow{ position:absolute; width:25px; height:55px; top:135px; cursor:pointer; z-index:4;}
.prevPage{ display:none; left:10px; background-position:-5px -92px; z-index:99999;}
.nextPage{ display:none; right:10px; background-position:-35px -92px; z-index:99999;}



.mav { height: 470px; position: absolute; right: 0; top: 0; width: 190px; }
.mav a { display: block; height: 235px; position: relative; width: 190px;}
.mav a i { width: 190px; height: 1px; position: absolute; left: 0; bottom: 0; background:#ebebeb; overflow: hidden;}
.mav span{ height: 235px; width: 190px; position:absolute; background:#fff; opacity:0.75; filter:alpha(opacity=75); display: none;}
.mask1 { left: 0; position: absolute; top: 0;}
.mask2 { left: 0; position: absolute; top: 235px;}

/*banner end*/
.mainWap{width:100%;padding-bottom:15px; position:relative; overflow:hidden; background:#fff; }
.mainBox{width:1000px; margin:0 auto; background:#f9f9f9; position:relative; }
/*限时抢购*/
.contentFirst{padding-top:15px; position:relative; z-index:1;}
.contentFirstLeft{float:left; width:802px; margin-right:8px;}
.contentFirstRight{float:left; width:190px;}
.contentFirstLeft .timeLim{height:40px;}
.contentFirstLeft .timeLim i{float:left; width:30px; height:31px; background-position:-412px -3px;}
.contentFirstLeft .timeLim span{float:left; font-family:"微软雅黑"; font-size:18px; margin:-1px 0 0 5px; color:#333; font-weight:700; height:40px; line-height:40px;}
.contentFirstLeft .timeLimBox{background:#fff; border:1px solid #ededed; border-top:2px solid #ededed;}
.contentFirstLeft .timeLimBox .titleSlider{ border-top:2px solid #dd102e; height:7px; position:absolute; left:0; width:266px; top:-2px; text-align:center; z-index:1; overflow:hidden;}
.contentFirstLeft .timeLimBox .titleSlider b{border-width:5px;  border-color:#dd102e transparent transparent transparent;  border-style:solid dashed dashed dashed; border-bottom:none; display:inline-block; overflow:hidden; font-size:0; height:0; width:0;}
.contentFirstLeft .timeLimBox .titieBox{ height:43px; position:relative; }
.contentFirstLeft .timeLimBox .titieBox li{float:left;width:266px; border-right:1px solid #ededed; border-bottom:1px solid #ededed;  font-size:16px; height:42px; line-height:42px; text-align:center; cursor:pointer; font-family:"微软雅黑";}
.contentFirstLeft .timeLimBox .titieBox li.on{ color:#dd102e; border-bottom:none;}
.contentFirstLeft .timeLimBox .titieBox li.last{border-right:none;}
.contentFirstLeft .timeLimBox .contentBox{ position:relative;width:800px; background:#fff; margin:0 auto; overflow:hidden;font-family:"微软雅黑";}
.contentFirstLeft .timeLimBox .contentBox .buyBox{width:720px; height:316px; margin:0 auto; overflow:hidden; position:relative;}
.contentFirstLeft .timeLimBox .contentBox .arrow{ position:absolute; width:25px; height:55px; top:135px; cursor:pointer;}
.contentFirstLeft .timeLimBox .contentBox .prevPage{ left:10px; background-position:-5px -92px;}
.contentFirstLeft .timeLimBox .contentBox .nextPage{ right:10px; background-position:-35px -92px; cursor:pointer;}
.contentFirstLeft .timeLimBox .timeTip{padding:10px 15px 0 15px; color:#999;}
.buyNext{display:none;}
.buyOver{display:none;}
.buyBox ul{width:10000px;}
.buyBox li{margin:10px 0; width:180px; float:left;}
.buyBox li .indexTabPic{position:relative; width:160px; padding:0 12px;}
.buyBox li .indexTabPic .buyButton{position:absolute; top:130px; left:15px; height:28px; width:154px; border-radius:3px; text-align:center; line-height:28px; font-size:14px; color:#fff; display:none;}
.buyBox li .indexTabPic .buyButton:hover{ color:#fff; text-decoration:none;}
.buyBox li .indexTabTit{ height:36px; line-height:18px; padding:10px 15px 0 15px; overflow:hidden;}
.buyBox li .indexTabPrice{ height:24px; line-height:24px; padding:8px 15px 0 15px; overflow:hidden;}
.buyBox li .indexTabPrice .nowPrice{ color:#ce171f; font-size:16px;}
.buyBox li .numLimit{padding:5px 15px 0 15px; height:18px; }
.buyBox li .numBuy{padding:10px 15px 0 15px; height:18px; color:#333; line-height:18px;}
.buyNow .buyBox li .numBuy,.buyOver .buyBox li .numBuy{padding:6px 15px 0 15px;}
.buyBox li .numBuy span{ float:left;}
.buyBox li .numBuy i{ display:inline-block; width:15px; height:13px; background-position:-464px -51px; margin:2px 5px 0 0; float:left; cursor:pointer; position:relative;}
.buyBox li .numBuy i.on{ background-position:-440px -51px;}
.buyBox li .numBuy i em{ display:none; width:30px; height:16px; font-size:14px; font-weight:bold; color:#cc0000; font-style:normal; position:absolute; top:0; left:0; }
.buyBox li .timeRemain{padding:10px 15px 0 15px; color:#cc0000;}
.buyBox li .timeRemain *{float:left;}
.buyBox li .timeRemain .remain{color:#666; margin-right:3px;}
.buyBox li .timeRemain i{width:18px; height:18px; background-position:-451px -11px; display:block;}
.buyBox li .timeRemain b{ margin:0 2px; font-weight:normal;}
.buyNow li .buyButton{ background:#ce171f;}
.buyNext li .buyButton{ background:#2698d2;}
.buyOver li .buyButton{ background:#ccc;}
.contentFirstRight .bannerSlier{height:277px; width:190px; position:relative; overflow:hidden;}
.contentFirstRight .bannerSlier .imgBox{height:277px; overflow:hidden; }
.contentFirstRight .bannerSlier .imgBox ul{width:5000px;}
.contentFirstRight .bannerSlier .imgBox li{float:left; width:190px; height:277px;}
.contentFirstRight .bannerSlier .btnBox { position:absolute; bottom:10px; left:0; width:100%; height:20px; overflow:hidden; z-index:2; text-align:center; }
/*.contentFirstRight .bannerSlier .btnBgcolor{ display:inline-block; width:100%; background:#fff; opacity:0.5; height:17px; border-radius:6px;}*/
.contentFirstRight .bannerSlier .btnBg{ display:inline-block; background:url(../images/btnMask.png) repeat left top; height:20px; border-radius:6px; padding:0 6px;}
.contentFirstRight .bannerSlier .btnBg em{ display:inline-block; width:11px; height:11px; background:#fff; border-radius:50%; margin:3px 1px; overflow:hidden;}
.contentFirstRight .bannerSlier .btnBg em.on{ background:#fa614f;}
.contentFirstRight .notice{ position:relative;width:188px; height:114px; border:1px solid #ededed; margin-top:10px; overflow:hidden; font-family:"微软雅黑"; background:#fff;}
.contentFirstRight .notice .noticeTitle { height:30px;}
.contentFirstRight .notice .noticeTitle span{float:left; margin-left:15px; font-size:16px; color:#333; line-height:30px;}
.contentFirstRight .notice .noticeTitle a{ float:right; margin-right:10px; font-family:"宋体"; line-height:30px; color:#999;}
.contentFirstRight .notice .noticeTitle a b{font-weight:normal;}
.contentFirstRight .notice .noticeList{margin-top:5px;}
.contentFirstRight .notice .noticeList li{width:178px; height:20px; line-height:20px; padding:0 0 5px 10px; overflow:hidden; position:relative;}
.contentFirstRight .notice .noticeList li a{float:left;display:inline-block; width:160px; height:26px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.contentFirstRight .notice .noticeList li i{ float:left; display:inline-block; height:10px; width:10px; background-position:-276px -8px; margin:4px 5px 0 0;}
.contentFirstRight .notice .noticeList li span{ display:none; position:absolute; width:20px; height:20px; right:10px; top:-4px; background-position:-472px -8px;}
.contentFirstRight .notice .noticeList li.on span{ display:block;}
/*限时抢购end*/
/*热门团购等广告位start*/
.contentSecond{width:1000px; height:320px;padding-top:15px; overflow:hidden; position:relative; z-index:1;}
.contentSecond li{float:left; width:200px; height:320px; background:#000; overflow:hidden;}
.contentSecond li a{ background:#fff; transition:opacity 0.8s ease-out;}
.contentSecond:hover a{opacity:0.9;filter:alpha(opacity=90);}
.contentSecond li a:hover{opacity:1;filter:alpha(opacity=100);}
.contentSecond li a img{ position:relative; z-index:1; margin-left:-20px;}

/*热门团购等广告位end*/
/*logo墙start*/
.contentThree{height:350px; padding-top:15px; position:relative; overflow:hidden; font-family:"微软雅黑";position:relative; z-index:1;}
.contentThree .titleSlider{ border-bottom:2px solid #dd102e; height:7px; position:absolute; left:0; width:90px; top:30px; text-align:center; z-index:1; overflow:hidden;}
.contentThree .titleSlider b{ border-width:10px; border-style:dashed dashed solid;border-color:transparent transparent #dd102e; display:inline-block; overflow:hidden; font-size:0; height:0; width:0; margin-top:-8px;}
.contentThree .titieBox  ul{float:left;}
.contentThree .titieBox li{float:left;  font-size:16px; width:90px; height:43px; line-height:43px; text-align:center; margin-right:15px; cursor:pointer; font-family:"微软雅黑";}
.contentThree .titieBox li.on{ color:#dd102e; _background:#f9f9f9;}
.contentThree .titieBox .reflash{float:right; margin-right:10px; cursor:pointer;}
.contentThree .titieBox .reflash i{ float:left; margin:12px 8px 0 0; display:inline-block; width:20px; height:20px; background-position:-10px -10px;}
.contentThree .titieBox .reflash span{ float:left; display:inline-block; height:43px; line-height:43px;}
.contentThree .titleSlider{margin-top:20px;}
.contentThree .logoBox{position:relative; width:968px; height:274px;border:1px solid #ededed; background:#fff; padding:15px; overflow:hidden; }
.contentThree .logoBox .arrow{position:absolute; top:130px; width:50px; height:50px; z-index:1; cursor:pointer; display:none;}
.contentThree .logoBox .prevPage { background-position:-60px -100px; left:10px; }
.contentThree .logoBox .nextPage{ background-position:-117px -100px; right:10px; }
.contentThree .logoAll{ position:relative; width:100000px;height:274px;}
.contentThree .logoAll ul{ float:left; width:985px; height:274px;}
.contentThree .logoAll li{ float:left;width:180px; height:80px; position:relative; margin:0 17px 17px 0; overflow:hidden;}
.contentThree .logoAll li i.my_Attention{position:absolute; display:inline-block; width:20px; height:20px; right:10px; top:5px; background-position:-64px -10px; }
.contentThree .logoAll li i.my_Attentioned{ background-position:-38px -10px;}
.contentThree .logoAll li i{ display:none;}
/*logo墙end*/
/*楼层共用start*/
.floor{height:549px; padding-top:15px;font-family:"微软雅黑";position:relative; z-index:1;}
.floor .floorLeft{width:200px; height:549px; float:left; overflow:hidden;}
.floor .floorRight{width:800px; height:549px; float:left;overflow:hidden;}
.floorLeft .floorTitle{ height:45px;}
.floorLeft .floorTitle i{ float:left; display:inline-block; width:40px; height:40px; line-height:40px; text-align:center; color:#fff; font-style:normal; font-size:18px; font-family:Arial; }
.floorLeft .floorTitle span{float:left;display:inline-block; height:45px; line-height:45px; font-size:18px; color:#333333; font-weight:700;}
.floorLeftContent .bannerSlier{height:298px; width:198px; position:relative; overflow:hidden; border-left:1px solid #ededed; border-right:1px solid #ededed;}
.floorLeftContent .bannerSlier .imgBox{height:298px; overflow:hidden; }
.floorLeftContent .bannerSlier .imgBox ul{width:5000px;}
.floorLeftContent .bannerSlier .imgBox li{float:left; width:198px; height:298px;}
.floorLeftContent .bannerSlier .btnBox { position:absolute; bottom:10px; left:0; width:100%; height:17px; overflow:hidden; z-index:2; text-align:center; }
.floorLeftContent .bannerSlier .btnBg{ display:inline-block; height:20px; border-radius:6px; padding:0 6px;}
.floorLeftContent .bannerSlier .btnBg em{ display:inline-block; width:11px; height:11px; background:#fff; border-radius:50%; margin:3px 1px; overflow:hidden;}
.floorLeftContent .recommentHot{ border:1px solid #ededed; border-top:none;}
.floorLeftContent .recommentHot .recommentTitle{ height:35px; padding:0 15px;background:#fff;}
.floorLeftContent .recommentHot .recommentTitle span{ display:inline-block; width:168px; height:35px; line-height:35px; border-bottom:1px solid #ededed; color:#cc0000; font-size:14px; }
.floorLeftContent .recommentHot .recommentBrand{ line-height:22px; padding:8px 15px; background:#fff;}
.floorLeftContent .recommentHot .recommentBrand p{width:168px; height:44px; overflow:hidden;}
.floorLeftContent .recommentHot .recommentBrand p a{ padding-right:10px; white-space:nowrap;}
.floorLeftContent .recommentHot .recommentInfo{width:173px; height:90px;padding:10px 10px 10px 15px; background:#f5f5f5; overflow:hidden;}
.floorLeftContent .recommentHot .recommentInfo li{width:173px; height:30px; line-height:30px; overflow:hidden; position:relative;}
.floorLeftContent .recommentHot .recommentInfo li a{float:left;display:inline-block; width:158px; height:30px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.floorLeftContent .recommentHot .recommentInfo li i{ float:left; display:inline-block; height:10px; width:10px; background-position:-276px -8px; margin:8px 5px 0 0;}
.floorLeftContent .recommentHot .recommentInfo li span{ display:none; width: 20px; height: 20px; position: absolute; right:4px; top:1px; background-position: -472px -8px; clear:both;}
.floorLeftContent .recommentHot .recommentInfo li.on span{ display:block;}
.floorRight .floorRightTitle{ height:45px; overflow:hidden;}
.floorRight .floorRightTitle .titleTab{ width:285px; float:left; height:35px; padding-top:10px;}
.floorRight .floorRightTitle .titleTab li{float:left;width:95px; height:35px; line-height:35px; text-align:center; cursor:pointer; color:#333333; font-size:14px; font-family:"微软雅黑"; _background:none;}
.floorRight .floorRightTitle .titleZone{ float:right;height:30px;line-height:30px; padding:15px 5px 0 0;color:#cccccc;font-family:"微软雅黑";}
.floorRight .floorRightTitle .titleZone a{ padding:0 7px;  color:#666666;}
.floorRight .floorRightTitle .titleZone a:hover{color:#cc0001;}
.floorRight .floorRightTitle .titleZone .titleZoneLast{ padding:0 0 0 7px;}
.floorRight .floorRightTitle .titleZone .titleZoneLast a{ padding:0;}
.floorRight .floorRightTitle .titleZone .titleZoneLast i{font-family:"宋体"; font-size:12px; padding-left:5px; font-style:normal;}
.floorRight .floorRightBox .promotion{ position:relative; height:502px; display:block; overflow:hidden;}
.floorRight .floorRightBox .promotion .promotionFirst{ height:251px;}
.promotionFirst .floorSlider{ float:left; width:599px; height:250px; border-bottom:1px solid #ededed; border-right:1px solid #ededed; position:relative; overflow:hidden;}
.promotionFirst .floorSlider .imgBox{ height:250px;}
.promotionFirst .floorSlider .imgBox ul{width:5000px;}
.promotionFirst .floorSlider .imgBox ul li{float:left; width:599px; height:250px;}
.floorRight .floorRightBox .promotion .promotionSecond{ position:relative; height:251px; overflow:hidden;}
.promotionFirst .floorSlider .btnBox { position:absolute; bottom:10px; left:0; width:100%; height:17px; overflow:hidden; z-index:2; text-align:center; }
.promotionFirst .floorSlider .btnBg{ display:inline-block; height:17px; border-radius:6px; padding:0 6px;}
.promotionFirst .floorSlider .btnBg em{ display:inline-block; width:11px; height:11px; background:#fff; border-radius:50%; margin:3px 1px; overflow:hidden;}
.promotionFirst .promotionPro{ position:relative;float:left; width:200px; height:250px; background:#fff; overflow:hidden; }
.promotionSecond .promotionPro{background:#fff; }
.promotionPro li{ float:left; width:199px; height:250px; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.promotionPro li .indexTabPic{position:relative; width:160px; padding:5px 20px 0 19px;}
.promotionPro li .indexTabTit{ height:36px; line-height:18px; padding:0 20px 0 19px; width:160px; margin-top:10px; overflow:hidden;}
.promotionPro li .indexTabTit a:hover{ color:#666;}
.promotionPro li .indexTabPrice{ height:18px; line-height:18px; padding:10px 20px 3px 19px; width:160px;  overflow:hidden;}
.promotionPro li .indexTabTit .proSlogan{color:#ff6600; display:none;}
.promotionPro li .indexTabPrice .nowPrice{ color:#ce171f; font-size:16px;}
.promotionPro li.on .indexTabTit{ height:54px; margin-top:-25px; padding-top:10px;  background:#f5f5f5; opacity:0.85;filter:alpha(opacity=85); position:relative; z-index:1;}
.promotionPro li.on .indexTabTit .proTitle{ color:#000;}
.promotionPro li.on .indexTabTit .proSlogan{display:inline;}
.promotionPro li.on .indexTabPrice{ padding-bottom:18px; background:#f5f5f5; opacity:0.85;filter:alpha(opacity=85);position:relative; z-index:1;}
.floorRight .floorRightBox .hotProduct{display:none; height:502px; overflow:hidden; position:relative; }
.floorRight .floorRightBox .hotProduct .hotProductLeft{ float:left; width:399px; border-bottom:1px solid #ededed; border-right:1px solid #ededed; overflow:hidden;}
.floorRight .floorRightBox .hotProduct .hotProductLeftTwo{ float:left; width:400px; overflow:hidden;}
.floorRight .floorRightBox .hotProduct .hotProductRight{float:left; width:400px; background:#fff; overflow:hidden; position:relative;}
.floorRight .floorRightBox .brandArea{display:none;height:502px; width:799px; border-right:1px solid #ededed;  overflow:hidden; position:relative; } 
.floorRight .floorRightBox .brandArea .brandAreaBox{width:1002px;}
.floorRight .floorRightBox .brandArea .brandAreaAd{ float:left; height:250px; width:267px; overflow:hidden;border-bottom:1px solid #ededed;border-right:1px solid #ededed;}
.floorRight .floorRightBox .brandArea .brandAreaAd a{display:inline-block; width:267px; height:250px;}
.hotProductLeftTwo .brandAreaLeftFirst{ height:250px; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.floorLeftContent .bannerSlier .btnBox { position:absolute; bottom:10px; left:0; width:100%; height:30px; overflow:hidden; z-index:2;  }
.floorLeftContent .bannerSlier .btnBg{ text-align:center;}
.bannerSlier .btnBg li{ display:inline-block; width:15px; height:15px; background:#fff; border-radius:50%; margin:3px 1px; overflow:hidden;*display:inline;zoom:1;}
.bannerSlier .btnBg li.on{background:#fa614f;}
.promotionFirst .floorSlider .btnBox { position:absolute; bottom:10px; left:0; width:100%; height:30px; overflow:hidden; z-index:2;  }
.promotionFirst .floorSlider .btnBg{text-align:center;}
.promotionFirst .floorSlider .btnBg li{ display:inline-block; width:15px; height:15px; background:#fff; border-radius:50%; margin:3px 1px; overflow:hidden;*display:inline;zoom:1;}
.promotionFirst .floorSlider .btnBg li.on{ background:#fa614f;}
/*楼层共用end*/
/*白酒馆start*/
.whiteWine .floorLeft .floorTitle i{background-position:-90px -4px;}
.whiteWine .floorRight .floorRightTitle{ border-bottom:2px solid #fa614f;}
.whiteWine .floorRightTitle .titleZone .titleZoneLast{ color:#fa614f;}
.whiteWine .floorRightTitle .titleZone .titleZoneLast a{ color:#fa614f; font-size:14px; }
.whiteWine .btnBox em.on{background:#fa614f;}
.whiteWine .floorRightTitle .titleTab li.on{background:url(../images/home_icon.png) no-repeat -15px -47px; _background-position:-15px -45px; color:#fff;}
/*白酒馆 end*/
/*葡萄酒start*/
.redWine .floorLeft .floorTitle i{background-position:-138px -4px;}
.redWine .floorRight .floorRightTitle{ border-bottom:2px solid #aa73d1;}
.redWine .floorRightTitle .titleZone .titleZoneLast{ color:#aa73d1;}
.redWine .floorRightTitle .titleZone .titleZoneLast a{ color:#aa73d1; font-size:14px; }
.redWine .btnBox em.on{background:#aa73d1;}
.redWine .floorRightTitle .titleTab li.on{background:url(../images/home_icon.png) no-repeat -124px -47px; _background-position:-124px -45px; color:#fff;}
/*葡萄酒 end*/
/*洋酒馆start*/
.foreignWine .floorLeft .floorTitle i{background-position:-182px -4px;}
.foreignWine .floorRight .floorRightTitle{ border-bottom:2px solid #239de1;}
.foreignWine .floorRightTitle .titleZone .titleZoneLast{ color:#239de1;}
.foreignWine .floorRightTitle .titleZone .titleZoneLast a{ color:#239de1; font-size:14px; }
.foreignWine .btnBox em.on{background:#239de1;}
.foreignWine .floorRightTitle .titleTab li.on{background:url(../images/home_icon.png) no-repeat -231px -47px; _background-position:-231px -45px; color:#fff;}
/*洋酒馆 end*/
/*保健酒start*/
.healthWine .floorLeft .floorTitle i{background-position:-226px -4px;}
.healthWine .floorRight .floorRightTitle{ border-bottom:2px solid #61c19b;}
.healthWine .floorRightTitle .titleZone .titleZoneLast{ color:#61c19b;}
.healthWine .floorRightTitle .titleZone .titleZoneLast a{ color:#61c19b; font-size:14px; }
.healthWine  .btnBox em.on{background:#61c19b;}
.healthWine .floorRightTitle .titleTab li.on{background:url(../images/home_icon.png) no-repeat -340px -47px; _background-position:-340px -45px; color:#fff;}
/*保健酒 end*/
/*homeBannerAd广告位start*/
.homeBannerAd{height:100px;  margin-top:15px; position:relative; z-index:1;}
.homeBannerAd a{display:block; height:100px;}
.homeBannerAd_1{background:url(../images/homeBannerAd_1.jpg) no-repeat center top;}
.homeBannerAd_2{background:url(../images/homeBannerAd_1.jpg) no-repeat center top;}
.homeBannerAd_3{background:url(../images/homeBannerAd_1.jpg) no-repeat center top;}
.homeBannerAd_4{background:url(../images/homeBannerAd_1.jpg) no-repeat center top;}
/*homeBannerAd广告位end*/
/*酒友圈*/
.wineFriends{padding-top:15px;position:relative; z-index:1;}
.wineFriends .wineFriendsTitle{color:#333333;font-size:18px;font-weight:700;height: 45px;line-height: 45px; text-indent:6px; font-family:"微软雅黑";}
.wineFriendsBox{border:1px solid #ededed; height:399px; background:#fff; overflow:hidden;}
.wineFriendsBox .left{ width:388px; height:379px; float:left; margin:10px; overflow:hidden; display:inline; position:relative}/*gai*/
.wineFriendsBox .middle{ width:284px;height:379px; float:left; margin:10px;overflow:hidden;}
.wineFriendsBox .right{ width:230px; height:379px; float:left;margin:10px;overflow:hidden; position:relative;}
.wineFriendsBox .friendsBoxTitle{height:26px;}
.wineFriendsBox .friendsBoxTitle i{float:left; width:26px; height:26px; }
.wineFriendsBox .friendsBoxTitle span{  float:left; height:26px; line-height:26px; color:#333333; font-size:16px; font-family:"微软雅黑";}
.wineFriendsBox .left .friendsBoxTitle i{ background-position:-290px -10px;}
.wineFriendsBox .middle .friendsBoxTitle i{ background-position:-322px -10px;}
.wineFriendsBox .right .friendsBoxTitle i{ background-position:-355px -10px;}
.wineFriendsBox .wrapLeft { width:378px; height:338px; overflow:hidden; position:absolute; left:0; top:39px;}/*gai*/
.wineFriendsBox .leftContent { width:378px; height:10000px;  position:absolute; left:0; top:0;}/*gai*/

.wineFriendsBox .leftContent li {height:112px; width:378px; border-bottom:1px dashed #cccccc;}
.wineFriendsBox .leftContent li.noBorder { border:none;}
.wineFriendsBox .leftContent li .leftContentImg{float:left; width:96px; height:96px;}
.wineFriendsBox .leftContent li .leftContentInfo{float:right; width:280px; padding-top:5px; }
.wineFriendsBox .leftContent li .leftContentInfo .proInfo{ height:26px;width:280px; line-height:26px; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;font-family:"宋体";}
.wineFriendsBox .leftContent li .leftContentInfo .proTitle a{color:#0066cc;}
.wineFriendsBox .leftContent li .leftContentInfo .proComment p {height:36px;width:280px; line-height:18px; overflow:hidden;font-family:"宋体";}
.wineFriendsBox .leftContent li .leftContentInfo .proInfoOther{ height:25px; position:relative; margin-top:10px; }
.wineFriendsBox .leftContent li .leftContentInfo .proInfoOther .headPhoto{ float:left; width:25px; height:25px; border-radius:50%; margin-right:8px; overflow:hidden;}
.wineFriendsBox .leftContent li .leftContentInfo .proInfoOther .commentUser { float:left; height:25px; line-height:25px; margin-right:20px;color:#999999;font-family:"宋体";}
.wineFriendsBox .leftContent li .leftContentInfo .proInfoOther .commentTime { float:left; height:25px; line-height:25px; color:#999999;font-family:"宋体";}
.wineFriendsBox .middleContent{padding-top:22px; overflow:hidden; } 
.wineFriendsBox .middleContent ul{width:384px;}
.wineFriendsBox .middleContent li{float:left; width:92px; height:105px; margin:0 4px 4px 0;}
.wineFriendsBox .rightContentBox{ padding:13px 0 0;}
.wineFriendsBox .rightContent{ padding:10px 0 5px; height:153px; overflow:hidden; position:relative; border-bottom:1px dashed #cccccc;}
.wineFriendsBox .noBorder{border:none;}
.wineFriendsBox .rightContent ul{ width:390px;}
.wineFriendsBox .rightContent li{width:100px; height:140px;position:relative; float:left; display:inline; padding-right:20px;}
.wineFriendsBox .rightContent li .imgBox{ text-align:center;}
.wineFriendsBox .rightContent li .proPrice{ height:30px; line-height:30px; text-align:center; font-size:14px; font-family:"微软雅黑"; padding-top:5px;}
.wineFriendsBox .rightContent li .proPrice strong{ font-weight:normal; color:#cc0000;}
.wineFriendsBox .rightContent li .proTitle{ position:absolute; top:56px; width:100px; left:0; overflow:hidden;  height:44px; line-height:22px;  background:#eeeeee;opacity:0.8;-moz-opacity:0.8;filter:alpha(opacity=80); display:none;}
.wineFriendsBox .rightContent li .proTitle a{color:#333333; padding:0 5px;}
.wineFriendsBox .rightContent li.on .proTitle{display:block;}
/*酒友圈 end*/

/*广告弹层*/
@keyframes topToBottom{
	0%{ transform:translateY(-700px); opacity:0; }
	70%{ transform:translateY(100px);opacity:1; }
	100%{ transform:translateY(0); opacity:1; }
	}
@-webkit-keyframes topToBottom{
	0%{ -webkit-transform:translateY(-700px); opacity:0; }
	70%{  -webkit-transform:translateY(100px);opacity:1;  }
	100%{  -webkit-transform:translateY(0);opacity:1;  }
	}
@-ms-keyframes topToBottom{
	0%{ -ms-transform:translateY(-700px); opacity:0; }
	70%{  -ms-transform:translateY(100px);opacity:1;  }
	100%{  -ms-transform:translateY(0);opacity:1;  }
	}
@-moz-keyframes topToBottom{
	0%{ -moz-transform:translateY(-700px); opacity:0; }
	70%{  -moz-transform:translateY(100px);opacity:1;  }
	100%{  -moz-transform:translateY(0);opacity:1;  }
	}
@-o-keyframes topToBottom{
	0%{ -o-transform:translateY(-700px); opacity:0; }
	70%{  -o-transform:translateY(100px);opacity:1;  }
	100%{  -o-transform:translateY(0);opacity:1;  }
	}
	
@keyframes bottomToTop{
	0%{ transform:translateY(0px); opacity:1; }
	100%{ transform:translateY(-700px); opacity:0; }
	}
	
@-webkit-keyframes bottomToTop{
	0%{ -webkit-transform:translateY(0px); opacity:1; }
	100%{ -webkit-transform:translateY(-700px); opacity:0; }
	}
@-ms-keyframes bottomToTop{
	0%{ -ms-transform:translateY(0px); opacity:1; }
	100%{ -ms-transform:translateY(-700px); opacity:0; }
	}
@-moz-keyframes bottomToTop{
	0%{  -moz-transform:translateY(0px); opacity:1; }
	100%{  -moz-transform:translateY(-700px); opacity:0; }
	}
@-o-keyframes bottomToTop{
	0%{ -o-transform:translateY(0px); opacity:1; }
	100%{ -o-transform:translateY(-700px); opacity:0; }
	}

.animate_1{ animation:topToBottom 1s forwards; -webkit-animation:topToBottom 1s forwards;-ms-animation:topToBottom 1s forwards;-moz-animation:topToBottom 1s forwards;-o-animation:topToBottom 1s forwards;}
.animate_2{ animation:bottomToTop 1s forwards; -webkit-animation:bottomToTop 1s forwards;-ms-animation:bottomToTop 1s forwards;-moz-animation:bottomToTop 1s forwards;-o-animation:bottomToTop 1s forwards;}
.focusMask{ display:block;  width:100%; height:100%; background:url(../images/maskBg.png) repeat left top; position:fixed; left:0; top:0; z-index:10000; _position:absolute; _top:expression(eval(document.documentElement.scrollTop));_height:1500px; }
.popFocus{ display:block;  width:800px; height:500px; position:fixed; left:50%; top:50%; z-index:100001; _position:absolute; _top:expression(eval(document.documentElement.scrollTop+500)); }
.popFocusCon{ width:800px; height:500px; position:absolute; left:-50%; top:-50%; z-index:1000; text-align:center; background:#fff;}
.popFocusCon .popFocusClose{ display:block; width:50px; height:50px; position:absolute; right:10px; top:10px; cursor:pointer; text-align:right; overflow:hidden;}
/*.popFocusCon .popFocusClose img{ width:100%; height:auto;}*/
.bottle{ display:none; position:absolute; display:inline-block; width:35px; height:35px; background:url(../images/bottle.png) no-repeat left top; z-index:100002;}
.bottle_1{background-position:0px 0px;}
.bottle_2{background-position:-43px 0px;}
.bottle_3{background-position:-78px 0px;}
.bottle_4{background-position:-120px 0px;}
.bottle_5{background-position:-155px 0px;}
.bottle_6{background-position:-78px 0px;}
.bottle_7{background-position:-120px 0px;}
.bottle_8{background-position:-155px 0px;}
.bgLeft{ width:100%; position:absolute; left:-500px; top:0; height:1000px; z-index:0;}
.bgRight{ width:100%; position:absolute; right:-500px; height:1000px; top:0; z-index:0;}
.bgLeft a{width:500px; height:1000px; display:block;}
.bgRight a{width:500px; height:1000px; display:block; float:right;}
/*广告弹层end*/
/*楼层*/
.fixDiv{ position:fixed; _display:none; width:40px; height:205px; left:60px; top:300px; z-index:0;  opacity:0;
	transform:scaleY(1.5);
 	-webkit-transform:scaleY(1.5); 
 	-moz-transform:scaleY(1.5); 
  	-o-transform:scaleY(1.5);
    -ms-transform:scaleY(1.5);

	transition:.5s transform, .5s opacity;
	-o-transition:.5s transform, .5s opacity;	
	-moz-transition:.5s transform, .5s opacity;
	-webkit-transition:.5s transform, .5s opacity;
	-ms-transition:.5s transform, .5s opacity;
	}
.fixDiv div{ position:absolute; left:0; font-size:12px;  text-align:center; cursor:pointer; }	
.fixDiv a{ width:30px; height:30px; position:absolute; left:0; top:0; color:#fff; font-size:12px; text-align:center; border-radius:30px; line-height:30px; text-decoration:none; cursor:pointer;  overflow:hidden; font-family:"微软雅黑" }
.fixDiv .floorOne{ top:0;}
.fixDiv .floorTwo{ top:31px;}
.fixDiv .floorThree{ top:62px;}
.fixDiv .floorFour{ top:93px;}
.fixDiv .floorOneOn{ background:#fa614f;z-index:1;display:none}
.fixDiv .floorTwoOn{ background:#aa73d1;z-index:1;display:none}
.fixDiv .floorThreeOn{ background:#239de1;z-index:1;display:none}
.fixDiv .floorFourOn{ background:#66cc99;z-index:1;display:none}
.fixDiv .floorBg{ background:#f5f5f5; z-index:2; }
.fixDiv .floorOneBg i{ width:20px; height:20px; background-position: -179px -125px; position:absolute; left:9px; top:5px;}
.fixDiv .floorTwoBg i{width:20px; height:20px; background-position: -202px -124px; position:absolute; left:11px; top:5px}
.fixDiv .floorThreeBg i{width:20px; height:20px; background-position: -220px -126px; position:absolute; left:6px; top:5px}
.fixDiv .floorFourBg i{ width:20px; height:20px; background-position: -250px -125px; position:absolute; left:9px; top:4px;}
.fixDiv .floorBack{width:30px; height:30px; color:#fff; font-size:12px;  text-align:center; border-radius:30px; line-height:30px; position:absolute; left:0; cursor:pointer; top:124px; background:#f5f5f5;}
.fixDiv .floorBack i{ width:15px; height:10px;position:absolute; left:8px; top:10px; background-position: -274px -134px;}
/*楼层end*/